.projhst {
  text-decoration: underline;
  text-decoration-color: yellowgreen;
}

.u {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: inset;
}

.cont1 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 2vw;
}
.cont2 {
  width: 40vw;
  margin: 2vw;
}
.contm {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
}

.button_style {
  width: 30%;
  padding: 1%;
  border: solid;
  border-width: 0.01pc;
  border-radius: 30%;
}

.iconsty {
  height: 5vh;
  width: 5vw;
  margin: 5vw;
}
